html, body {
    position: relative;
    height: 100%;
}

body {
    background: #eee;
    font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
    font-size: 14px;
    color: #000;
    margin: 0;
    padding: 0;
}

.swiper-container {
    width: 100%;
    height: 100%;
}

.swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    /*display: -webkit-box;*/
    /*display: -ms-flexbox;*/
    /*display: -webkit-flex;*/
    /*display: flex;*/
    /*-webkit-box-pack: center;*/
    /*-ms-flex-pack: center;*/
    /*-webkit-justify-content: center;*/
    /*justify-content: center;*/
    /*-webkit-box-align: center;*/
    /*-ms-flex-align: center;*/
    /*-webkit-align-items: center;*/
    /*align-items: center;*/
}

/*音乐部分开始*/
#music {
    width: 60px;
    height: 60px;
    position: fixed;
    right: 10px;
    top: 10px;
    z-index: 9;
}

#music .musictu {
    position: absolute;
    top: 8px;
    right: 8px;
    animation: run linear infinite 1s;
}

.musicimg {
    position: fixed;
    right: 8px;
    top: 8px;
    z-index: 9;
    width: 60px;
    height: 60px;
}

.musictu {
    right: 9px;
    top: 8px;
    position: absolute;

}

@keyframes run {
    0% {
        transform: rotate(0deg);

    }
    100% {
        transform: rotate(360deg);
    }
}

/*音乐部分结束*/

/*第一屏*/
.swiper-slide .one {
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}

.swiper-slide.one .two img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -38%;
    animation: zhuan linear infinite 8s;
}

.swiper-slide.one .two1 {
    width: 100%;
    height: 100%;

}

.swiper-slide.one .two1 img {
    width: 100%;
    height: 60%;
    position: absolute;
    right: 1%;
    margin-top: 65%;
    overflow: hidden;
}

@keyframes zhuan {
    100% {
        transform: rotate(360deg);
    }
}

.swiper-slide.one .two2 {
    width: 100%;
    height: 100%;
    position: relative;
}

.swiper-slide.one .two2 p {
    color: #102a40;
    position: absolute;
    font-size: 8vw;
    margin-top: -166%;
    left: 25%;
    z-index: 1;
}
.swiper-slide.one .two2 .g1{
    margin-top: -103%;
}
.swiper-slide.one .two2 .g2{
    margin-top: -90%;
}

.swiper-slide.one .two2 .a1 {
    width: 8%;
    height: 10%;
    position: absolute;
    left: 15%;
    margin-top: -147%;
    z-index: 1;
}

.swiper-slide.one .two2 .a2 {
    width: 30%;
    height: 8%;
    position: absolute;
    left: 25%;
    margin-top: -143%;
    z-index: 1;
}

.swiper-slide.one .two2 .a3 {
    width: 30%;
    height: 8%;
    position: absolute;
    left: 55%;
    margin-top: -143%;
    z-index: 1;
}

.swiper-slide.one .two2 .a4 {
    width: 50%;
    height: 25%;
    position: absolute;
    left: 30%;
    margin-top: -156%;
    z-index: 9;
}

/*第二屏*/
.swiper-slide.to {
    background-image: url("../img/fb809c8854855cf2bdedba31553f1b68.png");
    background-size: 100% 100%;
    position: relative;
    font-size:7vw;
}

.swiper-slide.to .top {
    position: absolute;
    background: #51aebd;
    width: 90%;
    height:60%;
    color: #000;
    top: 15%;
    margin-left: 5%;
    font-size:7vw;
   background:rgba(0,0,0,0.2) ;
}
.swiper-slide.to .top h4{
    position: relative;
    font-size: 5vw;
    right: 23%;
    z-index: 5;
}
.swiper-slide.to .top .p1{
    font-size: 5vw;
    text-align: left;
    color:#000;
    z-index: 5;
    text-indent:30px;
    position: relative;
}
.swiper-slide.to .top .p2{
    margin-top: 30%;
    margin-left: 43%;
    color:#000;
    z-index: 5;
}

/*第三屏*/
.swiper-slide.sa{
    background-image: url("../img/fb809c8854855cf2bdedba31553f1b68.png");
    background-size: 100% 100%;
    position: relative;
}
.swiper-slide.sa .Three{
    font-size: 7vw;
}
.swiper-slide.sa .Three_zi{
    background:rgba(0,0,0,0.2) ;
    position: absolute;
    width: 90%;
    height:50%;
    color: #000;
    top: 15%;
    margin-left: 5%;
}
.swiper-slide.sa .Three_zi p{
    margin-left: 4%;
    position: absolute;
}
.sv{
    position: absolute;
    top: 10%;
    text-indent:30px;
    text-align: left;
}


/*第四屏*/
.swiper-slide.sd{
    background-image: url("../img/3a7c3add7bf344d849c10e4033ab4b6f.png");
    background-size:100%;
    position: relative;
}
.swiper-slide.sd {
   width: 100%;
    height: 100%;
}
.swiper-slide.sd .si{
    background: #51aebd;
    width: 90%;
    height:90%;
    color: #ffffff;
    background:rgba(0,0,0,0.2) ;
    margin-top: 10%;
    margin-left: 5%;
    font-size:7vw;
    position: absolute;

}


/*第五屏*/
.swiper-slide.we{
    background-image: url("../img/3a7c3add7bf344d849c10e4033ab4b6f.png");
    background-size:100%;
    position: relative;
}
.swiper-slide.we{
    width: 100%;
    height: 100%;
}
.swiper-slide.we .feng{
    width: 100%;
    height:100%;
    position: absolute;
    top: 10%;
    margin: 0 auto;
}
.swiper-slide.we .feng{
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 50%;
    top: 1%;
}
.swiper-slide.we .feng p{
    position: absolute;
    top: 130%;
    color: #ffffff;
    width: 70%;
    height: 50%;
    left: 12%;
    font-size: 5vw;
}








/*第六屏*/

.swiper-slide.wa {
    background-size: 100% 100%;
    position: relative;
    width: 100%;
    height: 100%;
}
.swiper-slide.wa .wan img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -38%;
    animation: zhuan linear infinite 8s;
}
.swiper-slide.wa .wan1 img{
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin-top: -3%;
    animation: zhuan linear infinite 8s;
}
.swiper-slide.wa .wan .input{
    width: 40%;
    height: 40%;

}
input{
    border: 1px solid #51aebd;
    width: 200px;
    height: 25px;
    right: 20%;

}
button{
    background-color: #51aebd;
    border: none;
    color: white;
    padding: 10px 85px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}






